/* imports fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:ital@1&family=Roboto+Condensed&family=Sofia&display=swap');

:root{
    --light-gray: #2b3032a1;
    --primary-color: #45ccb8;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: "Roboto", sans-serif;
    --gugi: "Gugi", cursive;
    --sofia: "sofia", cursive;
}


.primary-color{
    color: var(--primary-color);
}

.bg-primary-color{
    background-color: var(--primary-color)!important;
}

.text-color{
    color:var(--text-color);
}

.font-roboto{
    color:var(--gugi);
}

.lightblue{
    color: lightblue;
}

/*header*/

header{
    background-color: var(--primary-color);
    font-family: var(--roboto);
}

header .site-title{
    font-family: var(--gugi);
}

.container .dropdown-toggle,
.container .dropdown-item{
    font-size: 0.7em;
    
    text-align: center;
    
}
.head{
  text-align: center;
  
 
  
}

.header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: white;
    
}

/* Navigation menu*/

.navbar-nav {
 padding: 0.8em 0em;
}

.navbar-nav .nav-link{
    font-size: 0.9em;
    color: var(--light-gray) !important;
}
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
   
    text-align:center;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  

  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
 
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  

  .row {
    display: flex;
    
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

 /* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 33.33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #4CAF50;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

.contact{
  text-align: center;
  text-align: var(--sofia);
  
    
}

.About{
  font-size: 5mm;
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}